<form>

  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" [(ngModel)]="date" name="date">
  </div>

  <div class="mb-3">
    <label for="ballsTypeId" class="form-label">Balls Type</label>
    <input type="text" class="form-control" name="ballsTypeId" [(ngModel)]="ballsTypeId" *ngIf="strikerate.id!=0" disabled>
    <select class="form-control" name="ballsTypeId" id="ballsTypeId" [(ngModel)]="ballsTypeId" *ngIf="strikerate.id==0">
      <option *ngFor="let type of ballsTypeList$|async" [value]="type.id">{{type.name}}</option>
    </select>
  </div>  

  <div class="mb-3">
    <label for="numberOfstrikerate" class="form-label">Total Balls</label>
    <input type="number" class="form-control"  [(ngModel)]="balls" name="balls">
  </div>

  <div class="mb-3">
    <label for="numberOfstrikerate" class="form-label">Total Runs</label>
    <input type="number" class="form-control"  [(ngModel)]="runs" name="runs">
  </div>

  <button (click)="addstrikerate()" *ngIf="strikerate.id==0" class="btn btn-primary">
    Add
  </button>
  <button (click)="updatestrikerate()" *ngIf="strikerate.id!=0" class="btn btn-primary">
    Update
  </button>
</form>
